
#mediaCard{
    width:600px !important;
    height:660px !important;
    // background-color: rgb(221, 213, 213);
}

.addToFav{
    margin-left:20px;
  
    margin-top:10px;
}

.bookmarkIcon{
    margin-left:485px;
    margin-top:7px;
}
#comment{
    color: gray;
    height:15px !important;
  
}
.emoji{
    vertical-align: bottom !important;
    font-size:28px;
    color: black;
    margin-top:15px;
    margin-right:10px;
    align-items: center;
  
}
.commentMain{
    display: flex !important;
    align-items: center !important;
    // vertical-align: bottom;
}

#captionInput{
    width: 500px !important; 
    height: 20px !important;
    
}
.postbtn{

    font-weight: bold !important;
    font-size:20px;
    line-height:26px;
    margin-top: 12px !important;
  
}
#mediaImg{
margin-top:3px;
}
.commentModalConnInput{
    position: absolute;
    margin-top:-20px;
    margin-left: 0px;
    // background-color:aqua;
}
.commentOnCommentcard{
    position: relative !important;
    margin-left:-10px;
    height:116px;
    width: 400px;
    margin-top:-10px;
    transition: 0.3s;
    // border-top: 1px solid gray !important;
}
.emoji1{
    vertical-align: bottom !important;
    font-size:28px;
    color: black;
    margin-top:5px;
    margin-right:10px;
    align-items: center;
  
}
.wrap{
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 80px;
}
.insideWrap{
    display: flex;
    flex-direction: column;
    padding: 10px;
}