.icons{
    margin-left:20px
}
#uploadIcon{
    align-items: center;
    margin-left: 30%;
    margin-top:10%
}
.uploadimgbtn{
    margin-left:30% !important;
    font-size:14px !important;
    font-weight:bold !important;
}
.dragImg{
    margin-left: 30% !important;
    width:'300px'
}
.uploadimgModal{
    position: "absolute";
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    width: 400;
    background-color: "background.paper";
   
    // boxShadow: 24,
    p: 4
}
#nextbtn{
    margin-left: 90%;
    margin-top: -45px;
    padding : 0;
    align-items: center;
    vertical-align:top !important;
}
#backarrow{
    margin-top: -25px;
    padding : 0;
    align-items: center;
    vertical-align:top !important;
}
.previewSpan{
margin-top:-10px !important;
padding : 0
}
// #previewBox{
//     position: "absolute";
//     top: "50%";
//     left: "50%";
//     transform: "translate(-50%, -50%)";
//     width: 500;
//     height: 400;
//     background-color: "background.paper";
   
//     // boxShadow: 24,
//     p: 4;
// }
#mediaImg{
    margin-top: -30px;
    // top: "50%";
    // left: "50%";
    // height:'400px';
    // width: '400px'; 
}
.postCaption{
    height:500px;
    width:600px;
}
.wrap{
    // width: 800px;
    // height: 500px;
    // box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    // background: #fff;
    // color: #000;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // margin-top: 80px;

   margin-left:20% !important;
   margin-top:-8px !important;
    width: 900px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.uploadPostButton{
    padding-right: -50px;
    // margin-right:-0px;
    background-color: white !important;
    // background-color: #000;
    height:50px;
    width: 700px !important;
    // margin-left: 200px !important;
   
}
.insideWrap{
    display: flex;
    flex-direction: column;
    padding: 10px;

    
}
.PhoneInputInput{
    height:30px;
}
.changepassBox{
    position: "absolute";
    padding-top: 150px;
    padding-left: 300px;
    transform: "translate(-50%, -50%)";
    width: 500px;
    height: 400px;
    background-color: "red";
   
    // boxShadow: 24,
   
}